.u-section-1 .u-sheet-1 {
  min-height: 977px;
}

.u-section-1 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 21.6667px) calc(16.6667% - 21.6667px) calc(16.6667% - 21.6667px) calc(16.6667% - 21.6667px) calc(16.6667% - 21.6667px) calc(16.6667% - 21.6667px);
  min-height: 507px;
  grid-gap: 26px 26px;
  grid-auto-columns: calc(16.6667% - 21.6667px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-5 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-6 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-7 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-8 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-9 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-10 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-11 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-11 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-12 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-12 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
    grid-auto-columns: calc(16.666666666666668% - 21.666700000000002px);
    min-height: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    grid-auto-columns: calc(33.333333333333336% - 17.333360000000003px);
    min-height: 1281px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.000020000000003px));
    grid-auto-columns: calc(50% - 13.000020000000003px);
    min-height: 2162px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}